#main {
	margin-right: 10.5%;
	margin-left: 8%;
	margin-top: 11%;
}

h1 {
	font-size: 35px;
	line-height: 35px;
}

h2 {
	line-height: 35px;
	font-size: 25px;
}

h3 {
	font-size: 25px;
	line-height: 25px;
}

h5 {
	font-size: 20px;
	line-height: 20px;
}

img {
	width: 20%;
}

.answer-img {
	width: 80%;
	height: auto;
}