/* GENERAL STYLES */
body {
	text-align: center;
	background: url(../images/marvel_bg.jpg);
	background-position: center top;
	background-repeat: repeat-y;
	background-size: 100%;
	font-family: 'Prompt', sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 20px;
}

h2 {
	display: inline;
	position: absolute;
	line-height: 60px;
	font-size: 50px;
	font-weight: bolder;
}

h3 {
	font-size: 40px;
	line-height: 40px;
}

h5 {
	font-size: 35px;
	line-height: 10px;
}

img {
	width: 12%;
}

/* LAYOUT AND DESIGN STYLES */
#main {
	text-align: center;
	background-color: white;
	display: block;
	position: absolute;
	margin-right: 10%;
	margin-left: 9.5%;
	margin-top: 12.8%;
	width: 80%;
	height: auto;
}

#banner {
	text-align: center;
	display: inline;
	position: relative;

}

#time-bomb {
	display: inline-block;
	position: relative;
}

#content {
	text-align: center;
	display: inline;
	position: relative;
}

.button {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

/* GAME BUTTON STYLES */
h4 {
	background-color: #F11E22;
	color: white;
	font-size: 30px;
	line-height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;

}

h4:hover {
	background-color: #8B0000;
}

h4:active {
	background-color: #000000;
}

h4:visited {
	background-color: #000000;
}


/* SMALLER SCREENS LAPTOPS */
@media screen and (max-width: 1200px) {

	h1 {
	font-size: 50px;
	line-height: 50px;
	}

	h2 {
		display: inline;
		position: absolute;
		line-height: 50px;
		font-size: 40px;
		font-weight: bolder;
	}

	h3 {
	font-size: 35px;
	line-height: 35px;
	}

	h5 {
	font-size: 30px;
	line-height: 30px;
	}

	img {
		width: 15%;
	}

}


/* TABLETS PORTRAIT AND LANDSCAPE */
@media only screen and (max-device-width : 1024px) {

	h1 {
	font-size: 40px;
	line-height: 40px;
	}

	h2 {
		display: inline;
		position: absolute;
		line-height: 40px;
		font-size: 30px;
		font-weight: bolder;
	}

	h3 {
	font-size: 30px;
	line-height: 30px;
	}

	h5 {
	font-size: 25px;
	line-height: 25px;
	}

	img {
		width: 20%;
	}

}


/* PHONES PORTRAIT AND LANDSCAPE */
@media only screen and (max-device-width : 480px) {

	h1 {
	font-size: 35px;
	line-height: 35px
	}

	h2 {
		display: inline;
		position: absolute;
		line-height: 35px;
		font-size: 25px;
		font-weight: bolder;
	}

	h3 {
	font-size: 25px;
	line-height: 25px;
	}

	h5 {
	font-size: 20px;
	line-height: 20px;
	}

	img {
		width: 20%
	}

}


